.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NoData-container{
    display: flex;
    width: 600px;
    background-color: #cac9c9;
    height: 100px;
    color: rgb(109, 106, 106);
    border-radius: 15px;
}
.NoData-container p{
   font-size: 30px;
   margin-left: 100px;
    

}